.container__big-card{
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

figcaption {
  color: #fff;
}

.big-card-img figure img{
  width: 450px;
  height: 250px;

}

.big-card-text{
  color: #dedede;
  margin: 15px 0px 15px 15px;

}

.big-card-title{
  margin: 15px 0px 15px 15px;
  color: #fff;
}

