<div class="container__big-card">
  <div class="big-card-img">
    <figure>
      <img src="../assets/img/logic.webp" alt="top">
      <figcaption>Programming Logic</figcaption>
    </figure>
  </div>
  <div class="big-card-title">
    <a href=""><h2>Porque Aprender Lógica de Programação</h2></a>
  </div>
  <div class="big-card-text">
    <p>
      Aprender lógica de programação é essencial
      para quem deseja se tornar um programador
      eficiente. Ela ensina como estruturar algoritmos
      e solucionar problemas de forma clara e
      organizada, tornando o desenvolvimento de
      software mais rápido e eficaz. Além disso, a lógica de
      programação é uma habilidade fundamental para entender a
      lógica de outros sistemas, como os que controlam dispositivos
      eletrônicos ou realizam cálculos complexos.
    </p>
  </div>

</div>
