<div class="container__big-card">
  <div class="big-card-img">
    <figure>
      <img src="{{PhotoCover}}" alt="top">
      <figcaption>Programming Logic</figcaption>
    </figure>
  </div>
  <div class="big-card-title">
    <a [routerLink]="['content', Id]"><h2>{{CardTitle}}</h2></a>
    <!--Porque Aprender Lógica de Programação?-->
  </div>
  <div class="big-card-text">
    <a [routerLink]="['content', Id]"><p>
      {{CardDescription}}
      <!--Aprender lógica de programação é essencial
      para quem deseja se tornar um programador
      eficiente. Ela ensina como estruturar algoritmos
      e solucionar problemas de forma clara e
      organizada, tornando o desenvolvimento de
      software mais rápido e eficaz. Além disso, a lógica de
      programação é uma habilidade fundamental para entender a
      lógica de outros sistemas, como os que controlam dispositivos
      eletrônicos ou realizam cálculos complexos.-->
    </p>
  </a>
  </div>

</div>
