.container__articles{
  margin-top: 30px;
  display: flex;
  justify-content: center;

}

.articles_main{
  margin-right: 4em;
}

header{
  border: 2px solid white;
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 10px;
}
